body {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    background-color: #3b3939;
    color: #ffffff;
}

header {
    background-color: #282828;
    color: #ffffff;
    padding: 1px 0;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ffffff;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

header img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

#tab1, #tab2, #tab3, #tab4 {
    background-color: #303030;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
#tab1, #tab2, #tab3, #tab4 p {
    margin: 0;
}

#Title {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

#centered {
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.tabCon {
    max-width: 3000px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
    color: #bbbbbb;
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #201f1f;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: rgb(17, 16, 16);
}

.tab.active {
    background-color: #201f1f;
    border-bottom: 3px solid #fff;
    color: #ffffff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

footer {
    background-color: #282828;
    color: #ffffff;
    padding: 4px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}